body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.img-container img {
    width: 300px;
    height: 450px;
}

.info-container {
    width: 300px;
    height: 450px;
    padding: 25px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(212, 21%, 14%);
   
}

.info-container p {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
}

.info-container h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    opacity: 0.5;
}

.info-container h1 {
    font-family: 'Fraunces', serif;
}

.main-card {
    display: flex;
    border-radius: 10px;
    height: 450px;
    width: 600px;
    overflow: hidden;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.high-price {
    text-decoration: line-through;
    font-size: 12px;
    opacity: 0.5;
}

.low-price {
    font-size: 24px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
}

.btn {
    background-color: hsl(158, 36%, 37%);
    padding: 10px;
    border-radius: 5px;margin-top: 30px;
    text-align: center;
    color: white;
}

.btn:hover {
    cursor: pointer;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

